<html>
  <head>
    <title>Online CV</title>
    <link rel="shortcut icon" href="#" />
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>


    <!-- Load the pixi.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.1/pixi.min.js"></script>
    
    
  </head>
  <body>
    
    <!-- Load the JavaScript file that contains the pixi.js code -->
    <script type="module"  src="/static/app.js"></script>
  </body>
</html>
