/* Resetting some default browser styles */
body {
    margin: 0;
    padding: 0;
    background-color: #002B57;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100vw;
  }
  
  /* Styling for the title */
  .title {
    color: white;
    font-family: Calibri;
    font-size: 10vh;
    display: block;
    position: absolute;
    bottom: 80vh; /* Adjust this value as needed */
    left: 50%; /* Move the element to the center of its parent container */
    transform: translateX(-50%); 
  }
  
  /* Styling for the icon */
  .icon {
    opacity: 0;
    text-align: center;
    line-height: 8vh;
    font-size: 7vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%; /* Move the element to the center of its parent container */
    color: white;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-50%); 

  }
  
  /* Styling for the rectangle */
  .rectangle {
    background-color: white;
    width: 20vw;
    height: 10vh;
    position: absolute;
    z-index: 2;
    display: none;
  }
  