<div class="overlay" *ngIf="visibilityService.overlay" @growShrink>
    click on the picture to exit preview
    <img (click)="visibilityService.showImage(0)" src='./assets/experience/datamanag.png' *ngIf="visibilityService.showImgs[0]">
    
    <img (click)="visibilityService.showImage(1)" src='./assets/experience/LeutnantUrkunde.png' *ngIf="visibilityService.showImgs[1]">
    <img (click)="visibilityService.showImage(1)" src='./assets/experience/mil1.png' *ngIf="visibilityService.showImgs[1]">
    <img (click)="visibilityService.showImage(1)" src='./assets/experience/mil2.png' *ngIf="visibilityService.showImgs[1]">


    <img (click)="visibilityService.showImage(2)" src='./assets/experience/Lehr1.png' *ngIf="visibilityService.showImgs[2]">
    <img (click)="visibilityService.showImage(2)" src='./assets/experience/Lehr2.png' *ngIf="visibilityService.showImgs[2]">
    <img (click)="visibilityService.showImage(2)" src='./assets/experience/SIZ.png' *ngIf="visibilityService.showImgs[2]">
    <div class="closeIcon" (click)="visibilityService.showImage(-1)">
        🗙
    </div>
</div>



<div class="app_container">
    <div class="CV_body_titles"
        (click)="visibilityService.show_hide_CV_body()">
        Experience 🏆
    </div>
    <div *ngIf=visibilityService.showCV_body @growShrink>
        <table>
            <tr>
                <th>11.2022 - Currently</th> 
                <th>System Administrator / IT Assistant</th>
            </tr>
            <tr>
                <td></td>
                <td>Omnicommediagroup CH</td>
            </tr>
            <tr>
                <td></td>
                <td>-Automation of processes</td>
            </tr>
            <tr>
                <td></td>
                <td>-Server Administration</td>
            </tr>
            <tr>
                <td></td>
                <td>-Employee IT-Management</td>
            </tr>
            <tr>
                <th>01.2020 - 08.2020</th>
                <th (click)="visibilityService.showImage(0)">
                    Civil Service: Data management 👁‍🗨
                </th>
            </tr>
            <tr>
                <td></td>
                <td>Entomological Collection ETH Zurich</td>
            </tr>
            <tr>
                <td></td>
                <td>-updating and maintaining database</td>
            </tr>
            <tr>
                <th>11.2015 - 02.2017</th>
                <th (click)="visibilityService.showImage(1)">Lieutenant CH Army 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>-Deployment at World Economic Forum 2017</td>
            </tr>
            <tr>
                <td></td>
                <td>-Leading and management of 30 people</td>
            </tr>
            <tr>
                <th>08.2012 - 08.2015</th>
                <th (click)="visibilityService.showImage(2)">Commercial Apprenticeship EFZ E- Profile 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>tesa tape schweiz AG</td>
            </tr>
        </table>
    </div>
</div>