<div class="app_container">
    <div class="CV_body_titles"
        (click)="show_hide_CVbody()">
        Experience 🏆
    </div>
    <div *ngIf=visibilityService.showCV_body @growShrink>
        <table>
            <tr>
                <th>11.2022 - Currently</th> 
                <th>System Administrator / IT Assistant</th>
            </tr>
            <tr>
                <td></td>
                <td>Omnicommediagroup CH</td>
            </tr>
            <tr>
                <td></td>
                <td>-Automation of processes</td>
            </tr>
            <tr>
                <td></td>
                <td>-Server Administration</td>
            </tr>
            <tr>
                <td></td>
                <td>-Employee IT-Management</td>
            </tr>
            <tr>
                <th>01.2020 - 08.2020</th>
                <th>Civil Service: Data management 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>Entomological Collection ETH Zurich</td>
            </tr>
            <tr>
                <td></td>
                <td>-updating and maintaining database</td>
            </tr>
            <tr>
                <th>11.2015 - 02.2017</th>
                <th>Lieutenant CH Army 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>-Deployment at World Economic Forum 2017</td>
            </tr>
            <tr>
                <td></td>
                <td>-Leading and management of 30 people</td>
            </tr>
            <tr>
                <th>08.2012 - 08.2015</th>
                <th>Commercial Apprenticeship EFZ E- Profile 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>tesa tape schweiz AG</td>
            </tr>
        </table>
    </div>
</div>