
<div class="app_container">
    <div class="CV_body_titles"
        (click)="visibilityService.show_hide_CV_body()">
        Freelancing 💻
    </div>
    <div  *ngIf="visibilityService.showCV_body" @growShrink
        class="PersonalInformationBody">
        <div class="bold">Website for Insurance consultant</div>
        <div></div>
        <a href="https://www.hvv-verwaltung.ch" target="_blank">Link to client</a>

        <div class="bold">Process Optimization of Online Ordering</div>
        <div>"David was able to make a significant contribution to our ordering process and has provided helpful technical consultancy"</div>
        <a href="https://pizzeria-langgasse.ch/ " target="_blank">Link to client</a>
        
        <div class="text">You can hire me for: Website creation, process optimization, general technical / technological consulting
            and Problem-Solving of any kind
        </div>

    </div>
</div>