<div (click)="visibilityService.showImage(-1)" class="overlay" *ngIf="visibilityService.overlay" @growShrink>
    <img (click)="visibilityService.showImage(0)" src='./assets/languages/ENB2.png' *ngIf="visibilityService.showImgs[0]">
    
    <img (click)="visibilityService.showImage(1)" src='./assets/languages/FranzB2.png' *ngIf="visibilityService.showImgs[1]">
    <div class="closeIcon" (click)="visibilityService.showImage(-1)">
        ❌
    </div>
</div>

<div class="app_container">
    <div class="CV_body_titles"
        (click)="visibilityService.show_hide_CV_body()">
        Skills 🛠
    </div>
    <div 
    class=SkillsBody 
    *ngIf=visibilityService.showCV_body @growShrink>
        <table>
            <th>Operating System</th>
            <th>Used</th>
            <th>level of proficiency</th>
            <tr>
                <td>Windows 7/10/11 (Client)</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar excellent">
                        <div class="progress-bar-inner">excellent</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Kali Linux (Client)</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Debian (Server)</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <th>Databases</th>
            <th>used</th>
            <th>level of proficiency</th>
            <tr>
                <td>MySQL</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <th>Coding Languages</th>
            <th>used</th>
            <th>level of proficiency</th>
            <tr>
                <td>bash scripting</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>C++</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar excellent">
                        <div class="progress-bar-inner">excellent</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Python</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar excellent">
                        <div class="progress-bar-inner">excellent</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>2020</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>C#</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Java</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Javascript/Typescript</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>

        </table>
        <table>
            <th>Technologies</th>
            <th>used</th>
            <th>level of proficiency</th>
            <tr>
                <td>Angular</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ASP.NET / .NET</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Docker</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Office 365</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar excellent">
                        <div class="progress-bar-inner">excellent</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MS Powerapps</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>

        </table>
        <table>
            <th>Languages</th>
            <th>used</th>
            <th>level of proficiency</th>
            <tr>
                <td>German</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar excellent">
                        <div class="progress-bar-inner">excellent</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="clickable" (click)="visibilityService.showImage(0)">English B2 👁</div></td>
                <td>currently</td>
                <td>
                    <div class="progress-bar very-good">
                        <div class="progress-bar-inner">very-good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="clickable" (click)="visibilityService.showImage(1)">French B2 👁</div></td>
                <td>2018</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Portuguese</td>
                <td>currently</td>
                <td>
                    <div class="progress-bar good">
                        <div class="progress-bar-inner">good</div>
                    </div>
                </td>
            </tr>

        </table>
        <table>
            <th>Social</th>
            <tr>
                <td>receptivity to feedback</td>
            </tr>
            <tr>
                <td>Team Player</td>
            </tr>
            <tr>
                <td>Presentation Skills</td>
            </tr>
            <tr>
                <td>Leadership</td>
            </tr>
        </table>
    </div>
</div>

