.app_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: default;
}
.CV_body_titles{
    font-size: 6vh;
    font-family: 'Calibri';
    width: max-content;
    cursor: pointer;
}
.SkillsBody{
    font-size: 3vh;
    font-family: 'Calibri';
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
   

}
/* Progress bar styles */
.progress-bar {
    height: 2vh;
    background-color: grey;
    border-radius: 2vw;
}

.progress-bar-inner {
    height: 100%;
    background-color: rgb(41, 228, 252);

    text-align: left;
    font-size: 2vh;
    border-radius: 2vw;

}
/* Levels of proficiency */
.good .progress-bar-inner {
    width: 25%;
}

.very-good .progress-bar-inner {
    width: 50%;
}

.excellent .progress-bar-inner {
    width: 100%;
}
table {
    border-collapse: collapse;
    width:70vw;
    border-collapse: collapse;


}
tr {
    cursor: pointer;
    border-bottom: 1px solid black; /* This will create horizontal lines */

}
th, td{
    border: 1px solid black; /* This will create vertical lines */
    /* border: 1px solid black; */
    font-family: 'Calibri';
    font-size: 3vh;
    width: 20vw;


    
}


