.app_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CV_body_titles{
    font-size: 6vh;
    font-family: 'Calibri';
    width: max-content;
    cursor: pointer;
}
.PersonalInformationBody{
    font-size: 3vh;
    font-family: 'Calibri';
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    

}

table {
    border-collapse: collapse;

}
/* tr {
    cursor: pointer;
} */
td{
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-family: 'Calibri';
    font-size: 3vh;
    padding-right: 3vw; /* Adjust the value as needed */
    padding-top: 1vh;
    padding-left: 3vw;
    width:30vw;

    
}

th{
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-family: 'Calibri';
    font-size: 3vh;
    padding-right: 3vw; /* Adjust the value as needed */
    padding-top: 1vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
    width:30vw;

}
th:not(:last-child), td:not(:last-child) {
    border-right: 3px solid black;
}

