<div class="overlay" *ngIf="visibilityService.overlay" @growShrink>
  click on the picture to exit preview
  <img (click)="visibilityService.showImage(0)" src='./assets/languages/ENB2.png' *ngIf="visibilityService.showImgs[0]">
  
  <img (click)="visibilityService.showImage(1)" src='./assets/languages/FranzB2.png' *ngIf="visibilityService.showImgs[1]">
  

</div>

<div class="app_container">
    <div class="CV_body_titles"
        (click)="visibilityService.show_hide_CV_body()">
        Personal Information 👤
    </div>
    <div     
        *ngIf=visibilityService.showCV_body @growShrink>
        <table>
            <tr>
              <td>Name</td>
              <td>David Sanchez</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>28</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>Switzerland, Spain</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>davidsanchez062@gmail.com</td>
            </tr>
          </table>
    </div>
</div>


