<div class="app_container">
    <div class="CV_body_titles"
        (click)="show_hide_CVbody()">
        Education 🎓
    </div>
    <div *ngIf=visibilityService.showCV_body @fadeInOut>
        <table>
            <tr>
                <th>2022-2025</th>
                <th>BsC Mathematics/ ComputerScience (120/60) on enlgish 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>UZH university of Zurich</td>
            </tr>
            <tr>
                <td></td>
                <td>-Software Engineering</td>
            </tr>
            <tr>
                <td></td>
                <td>-Statistics</td>
            </tr>
            <tr>
                <td></td>
                <td>-Artificiale Intelligence</td>
            </tr>
            <tr>
                <td></td>
                <td>-Data Science</td>
            </tr>
            <tr>
                <td></td>
                <td>-Algorithms</td>
            </tr>
            <tr>
                <td></td>
                <td>-Computer Networks</td>
            </tr>
            <tr>
                <td></td>
                <td>-Cryptography</td>
            </tr>
            <tr></tr>
            <tr>
                <th>2020 - 2022</th>
                <th>BsC Mathematics / Computer Science 👁‍🗨</th>
            </tr>
             <tr>
                <td></td>
                <td>ETH</td>
            </tr>
           
             <tr>
                <td></td>
                <td></td>
            </tr>
           
            <tr>
                <td></td>
                <td>-Cancelled</td>
            </tr>
            <tr>
                <th>08.2017 - 08.2018</th>
                <th>Passerellenlehrgang 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>AME in Aarau</td>
            </tr>
            <tr>
                <td></td>
                <td>- focus on natural sciences</td>
            </tr>
            <tr>
                <th>08.2017 - 08.2018</th>
                <th>Berufsmatura 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>KV Reinach in Lenzburg</td>
            </tr>
            <tr>
                <td></td>
                <td>-focus on economics and accounting</td>
            </tr>
            <tr>
                <th>08.2012 - 08.2015</th>
                <th>Commercial Apprenticeship EFZ E-Profile 👁‍🗨</th>
            </tr>
            <tr>
                <td></td>
                <td>Zentrum Bildung Baden</td>
            </tr>

        </table>
    </div>
</div>

