.app_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CV_body_titles{
    font-size: 6vh;
    font-family: 'Calibri';
    width: max-content;
    cursor: pointer;
}
.PersonalInformationBody{
    font-size: 3vh;
    font-family: 'Calibri';
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    cursor: auto;
    

}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 300vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);    
    text-align: center;
    color: yellow;
    font-family: 'Calibri';
    font-size: 4vh;

}



table {
    border-collapse: collapse;
}

td{
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-family: 'Calibri';
    font-size: 3vh;
    padding-right: 3vw; /* Adjust the value as needed */
    /* padding-top: 1vh; */
    padding-left: 3vw;
    width:30vw;


    
}
th{
    border-collapse: collapse;
    cursor: pointer;
    text-align: left;
    /* border: 1px solid black; */
    font-family: 'Calibri';
    font-size: 3vh;
    padding-right: 3vw; /* Adjust the value as needed */
    padding-top: 4vh;
    padding-left: 3vw;
    width:30vw;

}   
th:not(:last-child), td:not(:last-child) {
    border-right: 3px solid black;
}

img {
    width: 80vw;
    position: relative;
    opacity: 1;
    padding: 10vw;
    /* top: 0; */
    /* left: 0; */
}

