.app_container {
    background-color: rgb(12, 78, 101);
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vw;
 }
 .title_body{
    /* width: 100vw; */
    /* height: 80vh; */
    display: flex;
    align-items: center;
    bottom: 80vh;
    flex-direction: column;
    border-radius: 30%;
    
 }
 
.app_title {
    font-family: 'Calibri';
    font-size: 10vh;
    color: white;
    display: block;         
    position: relative;
    width: max-content;
}
.app_title_icon {
    background-color: black;
    display: block;
    color: white;
    position: relative;
    font-size: 8vh;
    cursor: pointer;
    width: 5vw;
    border-radius: 50%;
    text-align: center;
}
.CV_body{
    background-color: rgb(126, 138, 152);
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 3vw;
    padding: 2vw;
    
}

