<div class="app_container">
  <div class="title_body">
    <div class="app_title" (mouseover)="show_MenuIcon()" (mouseout)="hide_MenuIcon()">
      Curriculum Vitae      
    </div>
    <div class="app_title_icon" *ngIf=visibilityService.showMenuIcon (click)="show_hide_CVbody()" (mouseover)="show_MenuIcon()" (mouseout)="hide_MenuIcon()">
      ≡
    </div>
  </div>
  <div class="CV_body" *ngIf=visibilityService.showCV_body>
    <app-personal-information></app-personal-information>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-links></app-links>
  </div>
</div>