<div class="app_container">
  <app-dot-simulation></app-dot-simulation> <!-- Add this line -->
  <div class="toTop" (click)="visibilityService.scrollUp()" @fadeInOut>🔼</div>
  <div class="toBottom" (click)="visibilityService.scrollDown()" @fadeInOut>🔽</div>
  <div class="title_body">
    <div class="app_title" (mouseover)="visibilityService.show_MenuIcon()" (mouseout)="visibilityService.hide_MenuIcon()" @fadeInOut>
      Curriculum Vitae      
    </div>
    <div class="app_title_icon" *ngIf=visibilityService.showMenuIcon (click)="visibilityService.show_hide_CV_body()" (mouseover)="visibilityService.show_MenuIcon()" (mouseout)="visibilityService.hide_MenuIcon()" @fadeInOut>
      ≡
    </div>
  </div>
  <div class="CV_body" *ngIf=visibilityService.showCV_body @growShrink>
    <app-personal-information></app-personal-information>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-freelancing></app-freelancing>
    <app-links></app-links>
  </div>
</div>