
.app_container {
    /* background-color: rgb(12, 78, 101); */
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vw;
 }


 .title_body{
    /* width: 100vw; */
    /* height: 80vh; */
    display: flex;
    align-items: center;
    bottom: 80vh;
    flex-direction: column;
    border-radius: 30%;
    
    
 }

 @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .app_title.animate {
    animation: pulse 1s infinite;
  } 
.toTop{
    position: fixed;
    top: 10vh;
    right: 5vw;
    font-size: 5vh;
    color:white;
    cursor: pointer;
}

.toBottom{
    position: fixed;
    top: 30vh;
    right: 5vw;
    font-size: 5vh;
    color:white;
    cursor: pointer;

}
.app_title {
    font-family: 'Calibri';
    font-size: 10vh;
    color: white;
    display: block;         
    position: relative;
    width: max-content;


}


.app_title_icon {
    background-color: black;
    display: block;
    color: white;
    position: relative;
    font-size: 8vh;
    cursor: pointer;
    width: 5vw;
    border-radius: 50%;
    text-align: center;
}

.CV_body{
    background-color: rgb(126, 138, 152);
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 3vw;
    padding: 2vw;
    transition: width 0.5s ease, height 0.5s ease;

    
}

